[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = tags/v1.14.1
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
	branch = tags/3.4
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
	branch = tags/1.0.1
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
