/*
!.gitignore
!.gitmodules
!.clang-format
!README.md
!Makefile
!third_party/
!third_party/**
!data/
!data/**/*.vert
!data/**/*.frag
!docs/
!docs/**/*.md
!src/
!src/engine/include/engine/*
!src/engine/include_private/engine_private/*

!src/**/*.cpp
!src/**/*.hpp